<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan B Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/scripts/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/scripts/nav.js}"></script>
</head>
<body>
    <div th:replace="header::client_header"></div>
    <div>
        <p>This website demos the Spring capabilities with Thymeleaf, MongoDB, GraphQL, and more<p/>
    </div>
    <div>
        <p>Test Kafka - Hit button to send a message</p>
        <input type="button" value="Send Message" onclick="sendMessage();">
        <input type="button" value="Receive Message" onclick="receiveMessage();">
    </div>
</body>
</html>